{% extends 'base.html' %}

{% block title %}Add Event{% endblock %}

{% block content %}
	{% if user.is_anonymous == False %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Add An Event</h1>
				{% if error == True %}
					<p class="text-danger">
						Duplicate Event found
					</p>
				{% endif %}
				<form action="{% url 'todolist:add_event' %}" method="post">
					{% csrf_token %}
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">Event Name: </label>
				    	<input type="text" class="form-control" id="event_name" name="event_name" value="{{ event_name }}" required>
				  	</div>
				  	<div class="mb-3">
				    	<label for="exampleInputPassword1" class="form-label">Description</label>
				    	<textarea class="form-control" name="description" value="{{ description }}" required></textarea>
				  	</div>
				  	<input class="btn btn-success" type="submit" value="Add Event">
				</form>
			</div>
		</div>		
	</div>
	{% else %}
		<h1 class="text-center my-3">You are not authorized to access this page</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	{% endif %}
{% endblock %}
