{% extends 'base.html' %}

{% block title %}Update Event{% endblock %}
	
{% block content %}
	{% if user.is_anonymous == False %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Update Task</h1>
				{% if error == True %}
					<p class="text-danger">
						Task Not Found
					</p>
				{% endif %}
				
				<form action="{% url 'todolist:update_event' event_id %}" method="post">
					{% csrf_token %}
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">Event Name: </label>
				    	<input type="text" class="form-control" id="event_name" name="event_name" value="{{ event_name }}" max-length="50" required>
				  	</div>
				  	<div class="mb-3">
				    	<label for="exampleInputPassword1" class="form-label">Description</label>
				    	<textarea class="form-control" id="description" name="description" value="{{ description }}" required></textarea>
				  	</div>
				  	<div class="mb-3">
				    	<label for="exampleInputPassword1" class="form-label">Status: </label>
				    	<input type="text"class="form-control" id="status" name="status" value="{{ status }}" max-length="50" required></input>
				  	</div>
				  	<input class="btn btn-success" type="submit" value="Update Event">
				</form>
			</div>
		</div>		
	</div>

	{% else %}
		<h1 class="text-center my-3">You are not authorized to access this page</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	{% endif %}
{% endblock %}